{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
 <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}

<table>
    <thead>
      <tr>
        <th> Ingredient </th>
        <th> Quantity </th>
        <th> Unit </th>
        <th>Price/unit </th>
      </tr>
    </thead>
    <tbody>

    {% for obj in object_list %}
      <tr>
        <td>{{obj.name}}</td>
        <td>{{obj.quantity}}</td>
        <td>{{obj.unit}}</td>
        <td>{{obj.unit_price }}</td>
          <td><a href="{% url 'updateingredient'  obj.id %}" >Edit </a></td>
        <td><a href="{% url 'deleteingredient'  obj.id %}" >Delete </a></td>


      </tr>
     {% endfor %}
    </tbody>


 </table>

{% endblock %}