{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
 <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}

<table>
    <thead>
      <tr>
        <th> Items </th>
        <th> Price </th>
      </tr>
    </thead>
    <tbody>

    {% for obj in object_list %}
      <tr>
        <td>{{obj.title}}</td>
        <td>{{obj.price}}</td>
          <td><a href="{% url 'updatemenuitem'  obj.id %}" >Edit </a></td>
        <td><a href="{% url 'deletemenuitem'  obj.id %}" >Delete </a></td>

      </tr>
    {% endfor %}
    </tbody>


 </table>

{% endblock %}